{% load static %}
    <nav class="navbar navbar-expand-xl navbar-dark" id="nav-top">
        <a class="navbar-brand" href="index.html"><img src="#" alt=""
                class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <hr>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#">Sobre o Educa.doe</a>
                </li>
                <li class="nav-item">
                    <a href="#">Seja um doador</a>
                </li>
                <li class="nav-item">
                    <a href="#">Receba doação</a>
                </li>
                <li class="nav-item">
                    <a href="#">Pontos de coleta</a>
                </li>
            <hr>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a id="cadastro" href="{% url 'donatario' %}">CADASTRE-SE</a>
                </li>
            </ul>
        </div>
    </nav>
