{% load static %}
<nav class="navbar navbar-expand-lg bg-custom py-3 navbar-light">
    <a href="/" class="navbar-brand"><img src="{% static 'vendor/img/logo.png' %}"
                                          width="70" height="60" class="d-inline-block align-top">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav align-items-start">
            <a href="/" class=" nav-item nav-link">Sobre o Educa.doe</a>
            <a href="#" class="nav-item nav-link">Receba Doações</a>
            <a href="#" class="nav-item nav-link">Seja um Doador</a>
        </div>
        <hr>
        <div class="navbar-nav ml-auto action-buttons">
            <a href="#" class="nav-item nav-link">Login</a>
            <a href="#" class="nav-item nav-link">Cadastre-se</a>
        </div>
    </div>
</nav>