@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    width: 100%;
    background: #34495e;
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    color: #8f5fc0;
    padding: 0 100px;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 10px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

.login {
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 3px;
}

nav #icon {
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.fotohome {
    height: 400px;
    background-size: 100% 100%;
    width: 100%;
}

.container {
    margin-top:30px;
    width: 100%;
}

.row {
    margin-top: 80px;
}