@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

    
}

nav {
    width: 100%;
    background: #7173AB;
}

.logo {
    width: 200px;
}

nav ul {
    float: right;
    margin-right: 10px;
}
 
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px; 
}


.example {
    margin-right: 120px;
}

a:hover{
    color: rgb(134, 9, 172);
    text-decoration: underline;
}



nav #icon {
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.fotohome {
    height: 400px;
    background-size: 100% 100%;
    width: 100%;
    padding: 10px 10px;
}

#justificado{
    text-align: justify;
    padding: 10px 30px 30px 10px;
}

.container {
    margin-top:30px;
    width: 100%;
}

.row {
    margin-top: 80px;
}

h2 {
    margin-top: 10px;
    text-align: center;
}

#titulo {
    margin-top: 10px;
    font-size: 25px;
}

#hometitulo {
    color:#f1f1f1;
    text-align: center;
}

#hometexto {
    text-align: center;
    padding: 50px 80px 50px 80px;
    font-size: 20px;
    color:#f1f1f1;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #8f5fc0;
    color:#f1f1f1;
    padding: 1px 1px;
  }

  .btn {
    color:#f1f1f1;
    padding: 1px 1px;
  }
  
  a.cadastro {
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.login-form {
    width: 100%;
    background: #e3d1ee;
    right: 140px;
    border-radius: 3px;
    border-bottom: 5px solid #8f5fc0;
    align-items: center;
    margin-bottom: 15px;

}
.login-form>form {
    width: 250px;
    margin: 0 auto;
    font-size: 16px;

}

input[type="text"],
input[type="password"] {
    width: 220px;
    height: 30px;
    border: 1px solid #8f5fc0;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
}

input[type="submit"] {
    width: 90%;
    height: 35px;
    font-size: 16px;
    background: white;
    font-weight: bold;
    color: black;
    border: 0px;
    border-radius: 3px;
    letter-spacing: -0.05em;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background: #8f5fc0
}

.faixa {

    background-color: #9F5FC4;
    width: 100%;
    height: 300px;
}

.boasvindas {
    text-align: center;
    font-size: 20px;
    margin-top: 13px;
}

.profilepicture {
    width: 100px;
}

#meuperfil {
    color: #9F5FC4;
    text-align: left;
    padding: 30px 30px;
}

.retangulo {

    margin: 0 auto;
    width: 80%;
    height: 814px;
    background: #FFFFFF;
    box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
    border-radius: 10px;
    text-align: center;
}

.retangulo1 {

    margin: 0 auto;
    width: 80%;
    height: 304px;
    background: #FFFFFF;
    box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
    border-radius: 10px;
    text-align: center;
}

.subtitulo {
    margin-left: 20px;
    font-style: normal;
    font-size: 20px;
    line-height: 60px;
    font-weight: bold;
    display: flex;
    color: black;
}

#lista {
    margin-left: 20px;
    font-style: normal;
    font-size: 15px;
    display: flex;
    color: black;
}

#lista:hover {
    color: rgb(134, 9, 172);
    text-decoration: underline;

}

#legenda {
    text-align: center;
    margin: 0 auto;
}

footer {
    background: #f1f1f1;
    padding: 90px 0;
    height: 10em;
    position: relative;
}

.footer-container {

    max-width: 1300px;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-top: 10px;
    transform: translate(-50%, -50%)
}

.logo-educadoefooter {
    width: 180px;
}

.social-media {
    margin: 20px 20px;
    
}

.social-media {
    color: #8f5fc0;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;

}

.doador h2 {
    text-align: left;
    position: absolute;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    
    
}

.donatario h2 {
    text-align: right;
    margin-right: 50px;
    
    
}

.cadastro img {
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 350px;
}


.pedidos {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.ola {
    text-align: left;
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.acompanhe {
    text-align: left;
    margin-top: 100px;
}

.faixa1 {

    
    width: 100%;
    height: 300px;
    border-radius: 5px;
    
    
}

.faixa2 {

    
    width: 100%;
    height: 300px;
    margin-top: 40px;
    border-radius: 5px;
       
}


.foto {
    width: 100px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    
}

.usuario1 h3 {
    text-align: left;
}

.btn-vermais {
    margin-top: 50px;
    margin-bottom: 100px;
}

.btn-alterar {
    background-color: #8f5fc0;
    border-radius: 5px;
}


.newnav {
position: absolute;
width: 100%;
height: 574px;
left: -2px;
top: -9px;
background: #9F5FC4;
}

#icons{
    display: flex;
    flex-direction: row;
}