{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

 <body id="loginpage">
    <div class="container">
        <div class="col-sm-12">
        <p id="whitea"><a id="whitea" href="/">Educa.doe > </a> Login</p>
        </div>
    </div>
<div class="container" id="loginform">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xl-6">
                            <a href="#" class="active" id="doador-form-link">Acessar como doador</a>
                        </div>
                        <div class="col-xl-6">
                            <a href="#" id="beneficiario-form-link">Acessar como beneficiário</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="doador-form" action="#" method="post" role="form" style="display: block;">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12" id="centralizar">
                                            <input type="submit" value="Continuar"id="buttonForm2">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" tabindex="5" class="forgot-password">Esqueci meu e-mail ou senha</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" tabindex="5" class="forgot-password">Usuário novo? Realize seu cadastro</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="beneficiario-form" action="#" method="post" role="form" style="display: none;">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12" id="centralizar">
                                            <input type="submit" value="Continuar"id="buttonForm2">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" tabindex="5" class="forgot-password">Esqueci meu e-mail ou senha</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" tabindex="5" class="forgot-password">Usuário novo? Realize seu cadastro</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {

$('#doador-form-link').click(function(e) {
    $("#doador-form").delay(100).fadeIn(100);
     $("#beneficiario-form").fadeOut(100);
    $('#beneficiario-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
});
$('#beneficiario-form-link').click(function(e) {
    $("#beneficiario-form").delay(100).fadeIn(100);
     $("#doador-form").fadeOut(100);
    $('#doador-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
});

});
</script>
</body>
{% endblock %}