{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="section-profile">
    <div>
        <h3 id="meuperfil">Meu Perfil :)</h3>
    </div>
    <div class="boasvindas">
        <h3 id="titulo">Olá, {{ user.first_name }}, aqui é seu perfil, fique a vontade!</h3>
    </div>
    <div class="retangulo">
    <div class="p-3" id="perfilUser">
        <img class="avatar-img" src="{{ user.profile.imagem.thumb.url }}" alt="Avatar" width="110" height="110">
    </div>
        <a href="{% url 'profile-update' user.id %}"><p id="legenda">Adicionar imagem</p></a>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
               <div id="icons">
                        <h3 class="subtitulo">Dados Cadastrais</h3>
                        <i class="far fa-user" id="icons"></i>
               </div>
                <ul>
                <li>
                    <a id="lista" href="{% url 'profile-update' user.id %}">Alterar endereço de e-mail</a>
                </li>
                <li>
                    <a id="lista" href="#">Alterar senha de acesso</a>
                </li>
                <li>
                    <a id="lista" href="{% url 'profile-update' user.id %}">Alterar seu endereço</a>
                </li>
                <li>
                    <a id="lista" href="#">Alterar dados dos seus dependentes</a>
                </li>
                </ul>
            </div>
            {% if user.is_donor %}
             <div class="col-sm-6">
                    <div id="icons">
                        <a class="subtitulo" href="#">Minhas doações</a>
                        <i class="fa fa-hand-holding-heart" id="icons"></i>
                    </div>
                    <div id="icons">
                        <a class="subtitulo" href="#">Ver doações disponíveis</a>
                        <i class="fa fa-box" id="icons"></i>
                    </div>
                </div>
            {% else %}
             <div class="col-sm-6">
                    <div id="icons">
                        <a class="subtitulo" href="#">Cadastrar listas </a>
                        <i class="far fa-file-alt" id="icons"></i>
                    </div>
                    <div id="icons">
                        <a class="subtitulo" href="#">Minhas solicitações</a>
                        <i class="fas fa-box-open" id="icons"></i>
                    </div>
               </div>
            {% endif %}
        </div>
    </div>
</div>
</section>
{% endblock %}