{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div>

<h3 id="meuperfil">Meu Perfil :)</h3>

</div>

<div class="boasvindas">

    <h3 id="titulo">Olá, (beneficiário), aqui é seu perfil, fique a vontade!</h3>



</div>

<div class="retangulo">

    <div id="perfilUser">
        <svg width="99" height="99" viewBox="0 0 99 99" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="49.5" cy="49.5" r="49.5" fill="#C1C7CD" />
        </svg>
    </div>

    <p id="legenda">Adicionar imagem</p>

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

               <div id="icons">
                        <h3 class="subtitulo">Dados Cadastrais</h3>

                        <i class="far fa-user" id="icons"></i>

                    </div>

                <ul>
                <li>
                    <a id="lista" href="#">Alterar endereço de e-mail</a>
                </li>
                <li>
                    <a id="lista" href="#">Alterar senha de acesso</a>
                </li>
                <li>
                    <a id="lista" href="#">Alterar seu endereço</a>
                </li>
                <li>
                    <a id="lista" href="#">Alterar dados dos seus dependentes</a>
                </li>
                </ul>

            </div>

               <div class="col-sm-6">

                <div id="icons">
                    <a class="subtitulo" href="#">Cadastrar listas </a>

                    <i class="far fa-file-alt" id="icons"></i>

                    </div>

                    <div id="icons">
                        <a class="subtitulo" href="#">Minhas solicitações</a>

                        <i class="fas fa-box-open" id="icons"></i>

                        </div>

                </div>

        </div>

    </div>

</div>