{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="col-sm-12">

        <p><a class="meuperfil" href="/">Educa.doe > </a> Seja um doador</p>

     </div>
</div>

    <div class="container">

        <div class="row">

        <div class="col-sm-4">

            <h3 class="meuperfil">Seja um doador <i class="fa fa-hand-holding-heart"></i></h3>

            <p>Com o Educa.doe ficou mais fácil ajudar. Ao se tornar um doador, você tem acesso a
                listas de materiais de estudantes que precisam da sua ajuda. Selecione os itens e o local de entrega
                mais próximo de você. Bastam alguns cliques e pronto! Você será informado quando a doação chegar às mãos
                do beneficiário. Tudo de forma rápida, simples e transparente. </p>

        </div>

        <div class="col-sm-8">

            <img src="{% static 'vendor/img/sejaumdoador.png' %}" alt="" class="iconindex"></label>
        </div>

        </div>
    </div>

    <div class="container" id="centralizar">

        <h3 id="titulo2">Como posso doar?</h3>

        <p class="justificado">Agora que você já conhece a nossa proposta, fizemos um tutorial em apenas 4 etapas
            para guiar os seus passos... É só seguir as instruções descritas abaixo:</p>

            <h5 class="topico"><img src="{% static 'vendor/img/number1.png' %}" alt=""> Realize o cadastro como doador</h5>

            <p class="justificado">Acesse em nosso menu o botão “Cadastre-se” e encontre a opção de se cadastrar como doador. Inclua os dados necessários. Os seus dados serão mentidos sob sigilo pelo Eduda.doe.</p>

            <h5 class="topico"><img src="{% static 'vendor/img/number2.png' %}" alt=""> Faça o login como doador</h5>

            <p class="justificado">Após realizar o cadastro como doador, você será redirecionado a sua página de login, podendo acessar o seu painel de doador.</p>

            <h5 class="topico"><img src="{% static 'vendor/img/number3.png' %}" alt=""> Procure um beneficiário próximo de você</h5>

            <p class="justificado">Localize o beneficiário mais próximo de sua residência. Lá, estarão incluídos os itens necessários, cadastrados por pais e responsáveis. Não é necessário doar todos os itens pedidos nas listas. Qualquer doação, é bem-vinda. ♥</p>

            <h5 class="topico"><img src=".{% static 'vendor/img/number4.png' %}" alt=""> Leve sua doação ao ponto de coleta</h5>

            <p class="justificado">Após selecionar os itens que serão doados por você, iremos lhe informar o ponto de coleta mais próximo de sua residêcia e a data limite para a entrega. </p>

    </div>    <!--ajustar com os icons dos tópicos-->

{% endblock %}