{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h2 class="my-3">LISTA</h2>
                <form method="post">
                {% csrf_token %}
                    <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Lista de Materiais</legend>

                            {{ form.media }}
                            {{ form|crispy }}

                    </fieldset>
                    <div class="form-group col-2">
                        <button class="btn btn btn-primary btn-lg btn-block" type="submit">Salvar</button>
                        <a class="btn btn btn-danger btn-lg btn-block" href="{#}">Cancelar</a>
                    </div>
                </form>
        </div>
        <div class="col-xl"></div>
    </div>

{% endblock %}